<div class="row">
<div class="col mt-4">

  <h1>Internships</h1>
  <div class="timeline-body">
      <div class="timeline-item">
        <div class="content">
          <h2>Research Intern</h2>
          <h5>Siemens, Bangalore</h5>
          <h6 class="date">08/2016 — 12/2016</h6>
          <p>Designed and Implemented a pipeline to detect Electrical Energy theft, using RNN, XGBoost, Ensembling, Fourier Transform, and Shape-based clustering.</p>
          <p>Clustering Algorithm on Bill of materials data. Involved data cleaning, feature extraction, and K-Means/Modes Clustering Algorithm.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="content">
          <h2>Machine Learning Intern</h2>
          <h5>Tripdairy, Bangalore</h5>
          <h6 class="date">05/2016 — 07/2016</h6>
          <p>Developed a tool to extract distance-based relations from descriptions of hotels. This involved extracting features from Universal Dependency Tree, and a Random-Forest Classification Model for connecting location entities and distance-measure entities.</p>
        </div>
      </div>
  </div>

  <br/>
  <br/>
  <h1>Certifications</h1>
  <div class="timeline-body">

     <div class="timeline-item">
        <div class="content">
          <h2>Deep Learning Specialization</h2>
          <h5>by Andrew Ng on Coursera. Includes 5 courses.</h5>
        </div>
      </div>

     <div class="timeline-item">
        <div class="content">
          <h2>Machine Learning</h2>
          <h5>by Andrew Ng on Coursera</h5>
        </div>
      </div>

    <div class="timeline-item">
        <div class="content">
          <h2>Statistical Learning</h2>
          <h5>on Stanford Online, Course on Traditional Machine Learning.</h5>
        </div>
      </div>

  </div>

  <br/>
  <br/>
  <h1>Education</h1>
  <div class="timeline-body">
      <div class="timeline-item">
        <div class="content">
          <h2>National Institute of Technology Karnataka</h2>
          <h5>B.Tech in Electrical and Electronics Engineering.</h5>
          <h6 class="date">08/2013 — 05/2017</h6>
          <p>CGPA : 8.02</p>
        </div>
      </div>
  </div>




</div>
</div>
