<br/>
<h1>Work Experience</h1>
  <div class="timeline-body">
      <div class="timeline-item">
        <div class="content">
          <h2>Natural Language Processing Engineer</h2>
          <h5>Cognition IP, San Franscisco</h5>
          <h6>Remote</h6>
          <h6 class="date">06/2019 — Present</h6>
          <p>Responsible for preparing labeled datasets from US and EU patent databases, and building AI components of automation tools for patent drafting and search.</p>
          <p>Developed a Transformer based text generation model to generate sections of patent specifications using the T5 model on TensorFlow.</p>
          <p>Developed a Computer Vision tool to parse images of patent flow-charts using Open CV, CNN, and OCR.</p>
          <p>Developed a tool to automate figure generation from patent claims using heuristics based on Dependency Parsing and VBA.</p>
          <p>Built a Sentence Similarity-based Patent search model using BERT with 80% Accuracy. Created a tool to automate the Model Training and Validation process including documenting tests conducted.</p>
        </div>
      </div>

       <div class="timeline-item">
        <div class="content">
          <h2>Machine Learning Engineer</h2>
          <h5>Infocrunch Analytics, Hyderabad</h5>
          <h6 class="date">03/2018 — 06/2019</h6>
          <p>Successfully surpassed captcha security of 11 websites, using YOLO CNN, trained only on Synthetic data.</p>
          <p>Was Responsible for building and deploying the AI components of a Social Media Analysis tool, including Automatic Topic Detection, Sentiment Model, and Category Classification.</p>
          <p>Developed a python module for generating Social Media Reports that reduced manual intervention and turn around time.</p>
          <p>Reported Data-driven insights by analyzing data from political and e-governance domain.</p>
        </div>
      </div>

       <div class="timeline-item">
        <div class="content">
          <h2>Freelance ML Engineer</h2>
          <h5>StartupByte, San Franscisco</h5>
          <h6>Remote</h6>
          <h6 class="date">01/2018 — 02/2018</h6>
          <p>Built a Recommendation system to recommend similar startups and similar people</p>
        </div>
      </div>
  </div>
