<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>Ask the doctor a question</span>
  </div>

  <div class="form__group field">
    <textarea rows="4" cols="50" maxlength="400" placeholder="My son has been vomiting, since last one hour, what can I do ?" class="form__field" name="question" id='question' [(ngModel)]="question" ></textarea>
  </div>

  <button class="button" (click)="sendRequest()">Ask</button>
  <div class="form__groupb fieldb">
    <textarea disabled rows="4" cols="50" maxlength="400"  class="form__fieldb" name="answer" id='answer'  >{{answer}}</textarea>
  </div>

  <div class="form__groupb fieldb">
    <textarea disabled rows="4" cols="50" maxlength="400"  class="form__fieldb" name="disclaimer" id='disclaimer'  >This work is only meant for research. This is not a real doctor's advice. Please, visit a real doctor.</textarea>
  </div>

</div>



