<div class="col-lg-10 mx-auto mt-5 post">
<h1 >About Me</h1>
<br/>
 <p>Hi! I am Sanjeet, a Machine Learning Engineer based in Hyderabad, India.</p>
 <p>I enjoy creating intelligent software using state of the art AI technologies. My goal is to build products to automate tedious tasks.</p>
 <p>Most recently I have built NLP-based  text generation and figure generation  tools to create parts of patent drafts, that saves billable time of attorneys resulting in huge cost savings.</p>
 <p>My Skills include:</p>
 <div class="row">
   <div class="col-lg">
        <ul>
          <li>Python</li>
          <li>Tensorflow</li>
          <li>Spacy</li>
          <li>OpenCV</li>
        </ul>
   </div>
   <div class="col-lg">
        <ul>
          <li>NLP</li>
          <li>Transformers</li>
          <li>Computer Vision</li>
        </ul>
   </div>
   <div class="col-lg">
        <ul>
          <li>Kubernetes</li>
          <li>Docker</li>
          <li>Google Cloud Platform</li>
        </ul>
   </div>
   <div class="col-lg">
        <ul>
          <li>Angular</li>
          <li>Google App Engine</li>
        </ul>
   </div>
   <div class="col-lg">
        <ul>
          <li>Git</li>
          <li>Shell Scripting</li>
          <li>VBA in MS Visio</li>
        </ul>
   </div>
 </div>
</div>
