
<div class="card-columns m-3 mt-5">
  <!--aidoc-->
  <div class="wow animated fadeIn" data-wow-delay=".15s">
    <a routerLink="/aidoc"   class="project card text-dark">
      <img class="card-img-top" src="assets/images/aiDoc.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">AI Doc</h5>
        <p class="card-text">A Transformer model to answer health related questions. Deployed on GCP through Kubernetes and Docker.</p>
         <p class="card-text">Try out the Demo here!!!</p>
        <p class="card-text">
            <span class="badge badge-pill text-primary border border-primary">Tensorflow</span>
            <span class="badge badge-pill text-primary border border-primary">Transformer</span>
            <span class="badge badge-pill text-primary border border-primary">Kubernetes</span>
            <span class="badge badge-pill text-primary border border-primary">GCP</span>
            <span class="badge badge-pill text-primary border border-primary">Python</span>
        </p>
      </div>
    </a>
  </div>

<!--  &lt;!&ndash;Emotion Detection&ndash;&gt;-->
<!--  <div class="wow animated fadeIn" data-wow-delay=".15s">-->
<!--    <a href="https://github.com/sanjeetGupta/YoloCaptcha"   class="project card text-dark">-->
<!--      <img class="card-img-top" src="assets/images/emoji.jpg" width="1170" height="300" alt="Card image cap">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Emotion Detection</h5>-->
<!--        <p class="card-text">A Transformer model to answer health related questions. Deployed on GCP through Kubernetes and Docker.</p>-->
<!--        <p class="card-text">Try out the Demo here!!!</p>-->
<!--        <p class="card-text">-->
<!--            <span class="badge badge-pill text-primary border border-primary">Hugging Face</span>-->
<!--            <span class="badge badge-pill text-primary border border-primary">Distill Bert</span>-->
<!--            <span class="badge badge-pill text-primary border border-primary">Python</span>-->
<!--        </p>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->

  <!--Yolo Captcha-->
  <div class="wow animated fadeIn" data-wow-delay=".15s">
    <a href="https://github.com/sanjeetGupta/YoloCaptcha"   class="project card text-dark">
      <img class="card-img-top" src="assets/images/captcha.jfif" width="1170" height="370" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">YOLO CAPTCHA</h5>
        <p class="card-text">A YOLOv2 based Captcha security breaking model, trained completely on Synthetic Data.</p>
        <p class="card-text">Check out the github repository.</p>
        <p class="card-text">
            <span class="badge badge-pill text-primary border border-primary">Tensorflow/Keras</span>
            <span class="badge badge-pill text-primary border border-primary">YOLO v2</span>
            <span class="badge badge-pill text-primary border border-primary">OpenCV</span>
            <span class="badge badge-pill text-primary border border-primary">Python</span>
        </p>
      </div>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
