<br/>
<h1>Referrals</h1>
<div class="timeline-body">
    <div class="referral-item">
      <div class="content">
        <p>"Sanjeet has been on our ML team and has been great to work with. He exhibits a great deal of creativity in application of machine learning fundamentals, which is critical when creating solutions using cutting edge NLP models. He also has the skills necessary to reason about new formulations of algorithms and to test and tweak as necessary. On top of that, Sanjeet has always been reliable, and on many occasions gone above and beyond what was asked of him. In the start up world. often times one has to wear many hats. Sanjeet picked up on new technologies outside his core responsibilities with ease and rose to the challenge when we needed him to. It has been a pleasure working with him."</p>
        <a href="https://www.linkedin.com/in/andrew-tjang/">Andrew Tjang | Founder/CEO at Cognition IP, San Francisco. </a>
      </div>
    </div>
    <div class="referral-item">
      <div class="content">
        <p>"I worked with Sanjeet for almost an year as his direct Supervisor. I can confidently say that he was the best data scientist I had on our team. Sanjeet is very curious and doesn't let his teammates or his manager limit his thoughts, which I would say is his greatest strength. He keeps up to date with changing technologies and is very hands on with programming which complements his knowledge on Machine Learning. He is a very fast learner and picks up very fast. I would highly recommend Sanjeet as a Data Scientist."</p>
        <a href="https://www.linkedin.com/in/sawan-kuntala/">Sawan Kuntala | Engineering Manager at Uber, Hyderabad | ex-CTO Infocrunch.</a>
      </div>
    </div>
    <div class="referral-item">
      <div class="content">
        <p>"Sanjeet is an exceptionally talented guy ... who has worked with me as an intern on one of the complex problem of "Real time anomaly detection and pattern mining". His diagnostic approach and problem solving attitude makes him an important contributor in Team."</p>
        <a href="https://www.linkedin.com/in/suyash-mishra-bb818979/">Suyash Mishra | Data Science Consultant, ZS Associates, London | ex-Siemens.</a>
      </div>
    </div>
</div>

