<br/>
<h1>Referrals</h1>
<div class="timeline-body">
    <div class="referral-item">
      <div class="content">
        <p>"I worked with Sanjeet for almost an year as his direct Supervisor. I can confidently say that he was the best data scientist I had on our team. Sanjeet is very curious and doesn't let his teammates or his manager limit his thoughts, which I would say is his greatest strength. He keeps up to date with changing technologies and is very hands on with programming which complements his knowledge on Machine Learning. He is a very fast learner and picks up very fast. I would highly recommend Sanjeet as a Data Scientist."</p>
        <h5>Sawan Kuntala | Engineering Manager at Uber | ex-CTO Infocrunch.</h5>
      </div>
    </div>
    <div class="referral-item">
      <div class="content">
        <p>"Sanjeet is an exceptionally talented guy ... who has worked with me as an intern on one of the complex problem of "Real time anomaly detection and pattern mining". His diagnostic approach and problem solving attitude makes him an important contributor in Team."</p>
        <h5>Suyash Mishra | Data Science Consultant, ZS Associates, London, UK | ex-Siemens.</h5>
      </div>
    </div>
</div>

